@import "../../global-styles/global.scss";

header {
  height: 60px;
  background: $primaryColor;
  padding-left: 2%;
  display: flex;
  align-items: center;
  color: $primaryHeaderColor;


}

header > img {
  height: 75%;
}

header > h3 {

  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 29px;
  margin-top: 15px;
  font-family: 'Roboto Slab' !important;
  font-weight: 700;
}
